<!DOCTYPE html>
<html lang="fa,en" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drag & Drop or Browse: File Upload | CodingNepal</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout-rtl/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{
  url_for('static', filename='style.css') }}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

   <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
</head>

<body id="about">
<nav class="d-flex navbar navbar-expand-lg navbar-dark bd-highlight">
  <div class=" collapse navbar-collapse justify-content-center" id="navbarTogglerDemo03">
    <ul class="p-2 list-inline mx-auto navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="ml-2 nav-item">
        <a class="nav-link" href="/">خانه</a>
      </li>
      <li class=" ml-2 nav-item">
        <a class="nav-link" href="/sendresult">تکمیل پرونده</a>
      </li>
      <li class="ml-2 nav-item">
        <a class="nav-link" href="/analysis">تحلیل پرونده</a>
      </li>
      <li class="ml-2 nav-item">
        <a class="active nav-link " href="/about">درباره ما</a>
      </li>
    </ul>
  </div>
</nav>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>