/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');*/
@font-face {
  font-family: "Vazir";
  src: url("./fonts/Vazir-Regular.eot");
  src: url("./fonts/Vazir-Regular.eot") format("embedded-opentype"),
    url("./fonts/Vazir-Regular.ttf") format("truetype"),
    url("./fonts/Vazir-Regular.woff") format("woff"),
    url("./fonts/Vazir-Regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir", sans-serif;
}
body {
  min-height: 100vh;
  background: #563d7c;
}

.btn-bd-send {
    font-weight: 500;
    color: #ffe484;
    border-color: #ffe484;
}
.btn-bd-send:hover {
    color: #000;
    background: #ffe484;
    border-color: #ffe484;
}
#params{
margin-top:2%;}
.container{
padding-top:2%;
}
label {
    color:white;
  display: block;
  text-align: right;
}
#alert{
text-align:right;
}
#form {
  padding-top: 5%;
}
.hidden {
  display:none;
}

.drag-area {
  border: 2px dashed #fff;
  height: 400px;
  width: 600px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area.active {
  border: 2px solid #fff;
}

.drag-area .icon {
  font-size: 100px;
  color: #fff;
}

.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}

.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#overlay {
  position: fixed;
  top: 0;
  z-index: 100;
  display:none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cv-spinner>p{
padding-top:5px;
color:#ffc107;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #ffc107 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
  100% {
    transform: rotate(360deg);
  }
}

.is-hide {
  display: none;
}